# Estrutura de dados

### Comprehension

In [3]:
[(x, y) for x in [1, 2, 3] for y in [3, 2, 1] if x != y]

[x for x in range(0, 50, 2) if x > 20]

[22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [4]:
from math import pi

[str(round(pi, i)) for i in range(1, 6)]

# round - recebe número qualquer e arredonda

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [18]:
matriz = [
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10],
    [11, 12, 13, 14, 15]
]

print(matriz)

[[row[i] for row in matriz] for i in range(5)]

list(zip(*matriz))

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]

[(1, 6, 11), (2, 7, 12), (3, 8, 13), (4, 9, 14), (5, 10, 15)]

### Instrução Del

In [25]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

del a[1:6]

print(a)

[1, 7, 8, 9, 10]

### Tuplas e sequências

In [27]:
trupla = 1, 2, 3, 4, 'testando'

print(trupla)

# concatenando truplas
trupla = trupla, (5, 6, 7, 8, 9)

print(trupla)

(1, 2, 3, 4, 'testando')
((1, 2, 3, 4, 'testando'), (5, 6, 7, 8, 9))

In [32]:
tr = ()

print(tr)

tr = ("só um valor", )

print(tr)

()
('só um valor',)

In [2]:
num = "Diogo", "Tatiana", "Geovana", "Cristian"

print(num)

d, t, g, c = num

print(d, t, g, c, end=" ")

('Diogo', 'Tatiana', 'Geovana', 'Cristian')
Diogo Tatiana Geovana Cristian

### Conjuntos

In [7]:
pessoa = {"Diogo", "Stephany", "Tatiana", "Cristian"}

print(pessoa)

documentos = set('diogoeng19@gmail.com')
print(documentos)

{'Tatiana', 'Cristian', 'Stephany', 'Diogo'}
{'@', 'l', 'm', '1', 'i', 'g', 'o', '.', '9', 'n', 'a', 'c', 'd', 'e'}

In [14]:
diogo = set("diogo")
tatiana = set("tatiana")

print(diogo, tatiana, end="\n")

print(diogo - tatiana) # oque tem no primeiro que não tem no segundo
print(diogo | tatiana) # tudo que tem em ambos
print(diogo & tatiana) # oque tem em ambos
print(diogo ^ tatiana) # tudo que tem de diferente em ambos

{'i', 'd', 'g', 'o'} {'t', 'i', 'n', 'a'}
{'g', 'd', 'o'}
{'t', 'i', 'g', 'o', 'n', 'a', 'd'}
{'i'}
{'t', 'g', 'o', 'n', 'a', 'd'}

### Dicionário

In [18]:
dados = {'telefone': 91985805873, 'dataNascimento': '18/02/2002'}
dados['nomeCompleto'] = 'Diogo Dias Mello'

print(dados)

list(dados) # lista as chaves

sorted(dados) # organiza

'dataNascimento' in dados

{'telefone': 91985805873, 'dataNascimento': '18/02/2002', 'nomeCompleto': 'Diogo Dias Mello'}

True

In [25]:
{x: x**2 for x in (1, 2, 3)}

dict(teste= 'teste', teste1= 121)

{'teste': 'teste', 'teste1': 121}